GROQ_API_KEY="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"
PHI_API_KEY="phi-4M35pxV20VTxsrulKy--L60hBVIZOOmg00wEKgFhKig"
OPENAI_API_KEY="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"
